.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #808080;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.card__img {
  object-fit: contain;
  width: 100px;
  height: 100px;
}
